body {
    font-family:Arial;
}

.description {
    width:500px;
    padding:10px;
    display:block;
    text-align:center;
    margin:auto;
    color:#333333;
    color:#44d192;
    margin-top:50px;
    background:white;
}

.conteiner {
    width:1000px;
    height:auto;
    min-height:100px;
    margin:auto;
    margin-top:50px;
    padding:10px;
}

h2 {
    width:300px;
    display:block;
    margin:auto;
    text-align:center;
}

.title {
    font-family:arial;
}

.description {
    font-size:20px;
    margin-top:10px;
}
