body {
    background:#012e4f;
    font-family:Arial;
}

.description {
    width:500px;
    padding:10px;
    border:1px solid silver;
    border-radius:3px;
    display:block;
    text-align:center;
    margin:auto;
    background:white;
    color:#333333;
}

.conteiner {
    width:1000px;
    height:auto;
    min-height:100px;
    background:white;
    margin:auto;
    margin-top:10px;
    padding:10px;
}

h2 {
    width:300px;
    display:block;
    margin:auto;
    text-align:center;
}

.title {
    font-family:DengXian;
}

.description {
    font-size:20px;
    margin-top:10px;
}